/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url(/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroBanner .overlay {
  opacity: 0;
}


@media (max-width: 768px) {
  .heroBanner {
    background-image: none;
    color: black !important;
  }
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  overflow-x: auto;
  margin: auto 2rem;
}

.charList img {
  width: 64px;
  padding: 4px 4px;
}


