/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/features/index/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroBanner .overlay {
  opacity: 0;
}

@media (max-width: 768px) {
  .heroBanner {
    background-image: none;
    color: black !important;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  overflow-x: auto;
  margin: auto 2rem;
}

.charList img {
  width: 64px;
  padding: 4px 4px;
}

.homeShowCase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

@media (max-width: 1200px) {
  .homeShowCase {
    grid-template-columns: 1fr 1fr;
  }

  .row1Left {
    align-items: center !important;
  }
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 1rem;;
}

@media (max-width: 1200px) {
  .row1 {
    grid-template-columns: 1fr;
  }
}

.row1Left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.row1Right {
  padding: 1rem;
  overflow: hidden;
}

.row1RightInner {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
