.itemTooltip {
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  max-width: 100%;
  padding: 5px 0;
  overflow: hidden;
  font-size: 0.95rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #cebc86;
    text-align: center;

    .name {
      letter-spacing: 2px;
    }
    
    .baseName {
      letter-spacing: -1px;
    }
  }

  .other {
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
  }

  .require {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }

  .properties {
    color: #6161db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      text-wrap: nowrap;
    }

    > div.enchant {
      color: #72ca9b;
    }
  }

  .range {
    color: #565555;
    // font-weight: lighter;
  }
}
